<div [ngBusy]="busy" style="min-height: 50px; margin: auto;">

  <ng-container>
    <ng-container *ngIf="ticket as ticket">
      <ng-container *ngIf="ticket.state">
        <div>
          <span>Имя: </span>
          <b>{{ticket.name}}</b>
        </div>

        <div>
          <span>QR-код: </span>
          <b>{{ticket.code}}</b>
        </div>
      </ng-container>

      <ng-container *ngIf="!ticket.state">
        <span style="color: red;">Пользователь не найден!</span>
        <div>
          <span>QR-код: </span>
          <b>{{ticket.code}}</b>
        </div>
      </ng-container>

      <ng-container *ngIf="ticket.state == states.Activated">
        <span style="color: red;">Пользователь уже активирован!</span>
      </ng-container>

      <ng-container *ngIf="ticket.state == states.Inactivated">
        <button style="z-index: 1000;" mat-flat-button color="primary" (click)="active()">Активировать</button>
      </ng-container>

    </ng-container>

  </ng-container>
</div>
