$mobile-width: 550px;

:host {
  position: relative;
}

.readonly-fields {
  color: grey;

  ::ng-deep .mat-form-field-outline {
    background-color: hsl(0, 2%, 95%);
  }
}

.readonly {
  pointer-events: none;
}

.actions {
  padding-right: 16px;
  justify-content: space-between;

  @media screen and (min-width: $mobile-width) {
    flex-flow: row-reverse;
  }

  @media screen and (max-width: $mobile-width) {
    flex-flow: column;
  }
}
