<!--<ngx-scanner-qrcode #scanner="scanner"-->
<!--                    (data)="onSuccess($event)"-->
<!--                    (error)="onError($event)">-->
<!--</ngx-scanner-qrcode>-->

<!--<quar-scanner #scanner (scanSuccess)="onSuccess($event)" (scanError)="onError($event)" ></quar-scanner>-->

<zxing-scanner #scanner
               (scanSuccess)="onSuccess($event)"
               (scanError)="onError($event)"
               (camerasFound)="camerasFound($event)"
               [timeBetweenScans]="100">
</zxing-scanner>

<div class="scan-region"></div>

<div *ngIf="!_bottomSheet._openedBottomSheetRef" class="actions-container">
  <button (click)="toggleCamera()"
          mat-icon-button>
    <mat-icon color="primary">autorenew</mat-icon>
  </button>

  <button (click)="toggleTorch()"
          mat-icon-button>
    <mat-icon color="primary">highlight</mat-icon>
  </button>

</div>



<ng-container *ngIf="(success$ | async) !== undefined">
  <div style="opacity: 0.2; position: absolute;left: 0;top: 0;right: 0;bottom: 0;"
       [style.background-color]="success$.value ? 'green' : 'red'">
  </div>
</ng-container>
