<zxing-scanner #scanner
               (scanSuccess)="onSuccess($event)"
               (scanError)="onError($event)"
               (camerasFound)="camerasFound($event)"
               (deviceChange)="deviceChange($event)"
               [delayBetweenScanSuccess]="2000"
               style="height: 100%;">
</zxing-scanner>

<img class="scanner-svg" src="../../../../assets/icons/scanner.svg">

<mat-spinner *ngIf="loading$ | async" class="spinner"></mat-spinner>

<img class="scanner-svg" src="../../../../assets/icons/scanner.svg">

<div *ngIf="!_bottomSheet._openedBottomSheetRef" class="actions-container">

  <button *ngIf="scanner?.torchCompatible | async"
          (click)="toggleTorch()"
          style="width: 50px; height: 50px;"
          mat-icon-button>
    <mat-icon *ngIf="torchEnable" style="color: white" [svgIcon]="'sun-off'"></mat-icon>
    <mat-icon *ngIf="!torchEnable" style="color: white" [svgIcon]="'sun'"></mat-icon>
  </button>


  <button (click)="toggleCamera()"
          style="width: 50px; height: 50px;"
          mat-icon-button>
    <mat-icon [svgIcon]="'toggle-camera'"></mat-icon>
  </button>
</div>

<ng-container *ngIf="(success$ | async) !== undefined">
  <div [style.background-color]="success$.value ? 'green' : 'red'" class="color-view"></div>
</ng-container>
