<div class="setting-container">
  <button (click)="openSettings()"
          mat-icon-button>
    <mat-icon color="primary">settings</mat-icon>
  </button>

  <span *ngIf="console" style="margin-top: 5px; color: red;">{{ console | json }}</span>
</div>

<zxing-scanner #scanner
               (scanSuccess)="onSuccess($event)"
               (scanError)="onError($event)"
               [delayBetweenScanSuccess]="2000"
               style="height: 100%;">
</zxing-scanner>

<img class="scanner-svg" src="../../../../assets/icons/scanner.svg">

<div class="scan-region"></div>

<div *ngIf="!_bottomSheet._openedBottomSheetRef" class="actions-container">

  <button *ngIf="scanner?.torchCompatible | async"
          (click)="toggleTorch()"
          mat-icon-button>
    <mat-icon color="primary">highlight</mat-icon>
  </button>
</div>

<ng-container *ngIf="(success$ | async) !== undefined">
  <div [style.background-color]="success$.value ? 'green' : 'red'" class="color-view"></div>
</ng-container>
