:host {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

:host ::ng-deep video {
  width: auto !important;
  height: 100% !important;

  overflow: hidden;
}

.actions-container {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 50px;

  display: flex;
  justify-content: center;
  gap: 15px;
}

.color-view {
  opacity: 0.2;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.setting-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  display: flex;
  flex-flow: column;
  align-items: end;
}

.scanner-svg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.spinner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

mat-icon {
  width: auto;
  height: auto;
}
