  <button mat-raised-button color="primary"
          class="add-button"
          (click)="editOrCreate()">
    Добавить пользователя
  </button>

<mat-table [dataSource]="(dataSource$ | async) ?? []">
  <ng-container matColumnDef="fullName">
    <mat-header-cell *matHeaderCellDef>Имя</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element['fullName']}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="qrCode">
    <mat-header-cell *matHeaderCellDef>Qr-код</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element['qrCode']}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="activated">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">{{element['activated'] ? 'Активирован' :  'Неактивирован'}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayColumns;sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayColumns;"
           [class.predefined]="row['isAbstract']"
           (click)="editOrCreate(row)">
  </mat-row>
</mat-table>
